In [ ]:



import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [ ]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
web_page = requests.get("https://www.ambitionbox.com/list-of-companies?page=1",headers=headers).text

In [ ]:
soup = BeautifulSoup(web_page,"lxml")

In [ ]:
soup.find_all("h2")[0].text.strip()

'TCS'

In [ ]:
company = soup.find_all("div",class_="companyCardWrapper")

In [ ]:
name = []
rating = []

for i in company:
  name.append(i.find("h2",class_="companyCardWrapper__companyName").text.strip())
  rating.append(i.find("div",class_="companyCardWrapper__companyRatingWrapper").text)
name

['TCS',
 'Accenture',
 'Cognizant',
 'Wipro',
 'Capgemini',
 'HDFC Bank',
 'ICICI Bank',
 'Infosys',
 'HCLTech',
 'Tech Mahindra',
 'Genpact',
 'Axis Bank',
 'Teleperformance',
 'Concentrix Corporation',
 'Jio',
 'Amazon',
 'IBM',
 'Reliance Retail',
 'HDB Financial Services',
 'Larsen & Toubro Limited']

In [ ]:
rating = []

for i in company:
  rating.append(i.find("div",class_="companyCardWrapper__companyRatingWrapper").text)
rating

[' 3.8',
 ' 4.0',
 ' 3.9',
 ' 3.8',
 ' 3.9',
 ' 4.0',
 ' 4.0',
 ' 3.8',
 ' 3.7',
 ' 3.7',
 ' 3.9',
 ' 3.9',
 ' 3.6',
 ' 3.9',
 ' 4.0',
 ' 4.1',
 ' 4.1',
 ' 4.0',
 ' 4.0',
 ' 4.1']

In [ ]:
tags = []
employees = []
ctype = []
age = []

for i in company:
  tags.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[0])
  employees.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[1])
  ctype.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[2])
  age.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[3])

[' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 50k-1 Lakh Employees ',
 ' 50k-1 Lakh Employees ',
 ' 50k-1 Lakh Employees ',
 ' 50k-1 Lakh Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 1 Lakh+ Employees ',
 ' 10k-50k Employees ']

In [ ]:
ctype = []
for i in company:
  ctype.append(i.find("span",class_="companyCardWrapper__interLinking").text)

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}



df = pd.DataFrame()

for j in range(1,10):
  url = "https://www.ambitionbox.com/list-of-companies?page={}".format(j)
  web = requests.get(url,headers=headers).text

  soup = BeautifulSoup(web,"lxml")

  company = soup.find_all("div",class_="companyCardWrapper")

  name = []
  rating = []
  tags = []
  employees = []
  ctype = []
  age = []

  for i in company:
    name.append(i.find("h2",class_="companyCardWrapper__companyName").text.strip())
    rating.append(i.find("div",class_="companyCardWrapper__companyRatingWrapper").text)
    tags.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[0])
    employees.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[1])
    try:
      ctype.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[2])
    except:
      ctype.append(np.nan)
    try:
      age.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip().split("|")[3])
    except:
      age.append(np.nan)

  temp_df = {"Company_name":name,"Rating":rating,"Tags":tags,"Employees":employees,"Company_types":ctype,"Age":age}
  df1 = pd.DataFrame(temp_df)

  df = df.append(df1,ignore_index=True)

df

<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)
<ipython-input-84-5ab2ffb14948>:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)

,Company_name,Rating,Tags,Employees,Company_types,Age
0,TCS,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,56 years old
1,Accenture,4.0,IT Services & Consulting,1 Lakh+ Employees,Public,35 years old
2,Cognizant,3.9,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,30 years old
3,Wipro,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,79 years old
4,Capgemini,3.9,IT Services & Consulting,1 Lakh+ Employees,Public,57 years old
...,...,...,...,...,...,...
175,Abbott,4.1,Pharma,10k-50k Employees,Public,136 years old
176,VE Commercial Vehicles,4.1,Automobile,1k-5k Employees,16 years old,Gurgaon/Gurugram +127 more
177,Indian Oil Corporation,4.5,Oil & Gas,10k-50k Employees,Fortune India 500,65 years old
178,Whitehat jr,3.5,EdTech,5k-10k Employees,Startup,6 years old
179,Ford Motor,4.5,Automobile,5k-10k Employees,Public,121 years old

In [ ]:
df["Company_types"].value_counts()

 Public                               98
 Forbes Global 2000                   16
 Fortune India 500                    15
 Conglomerate                          7
 Indian Unicorn                        5
 28 years old                          4
 24 years old                          3
 22 years old                          3
 23 years old                          3
 17 years old                          2
 12 years old                          2
 37 years old                          2
 16 years old                          1
 26 years old                          1
 44 years old                          1
 4 years old                           1
 27 years old                          1
 47 years old                          1
 31 years old                          1
 123 years old                         1
 15 years old                          1
 Hyderabad / Secunderabad +81 more     1
 21 years old                          1
 8 years old                           1
 56 years old                          1
 48 years old                          1
 36 years old                          1
 25 years old                          1
 38 years old                          1
 179 years old                         1
 18 years old                          1
 Startup                               1
Name: Company_types, dtype: int64

In [ ]:
df.to_csv("webscrapping_maked_data.csv")